In [1]:
from sklearn.utils.random import sample_without_replacement
import numpy as np
import pandas as pd

In [2]:
path_train="path/amex-default-prediction/train_data.csv"
path_label='path/amex-default-prediction/train_labels.csv'

In [3]:
df_train=pd.read_csv(path_train)
df_labels=pd.read_csv(path_label)

In [4]:
df_labels.head()

                                         customer_ID  target
0  0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...       0
1  00000fd6641609c6ece5454664794f0340ad84dddce9a2...       0
2  00001b22f846c82c51f6e3958ccd81970162bae8b007e8...       0
3  000041bdba6ecadd89a52d11886e8eaaec9325906c9723...       0
4  00007889e4fcd2614b6cbe7f8f3d2e5c728eca32d9eb8a...       0

In [5]:
df_train.head()

,customer_ID,S_2,P_2,D_39,B_1,B_2,R_1,S_3,D_41,B_3,...,D_136,D_137,D_138,D_139,D_140,D_141,D_142,D_143,D_144,D_145
0,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-03-09,0.938469,0.001733,0.008724,1.006838,0.009228,0.124035,0.008771,0.004709,...,NaN,NaN,NaN,0.002427,0.003706,0.003818,NaN,0.000569,0.000610,0.002674
1,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-04-07,0.936665,0.005775,0.004923,1.000653,0.006151,0.126750,0.000798,0.002714,...,NaN,NaN,NaN,0.003954,0.003167,0.005032,NaN,0.009576,0.005492,0.009217
2,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-05-28,0.954180,0.091505,0.021655,1.009672,0.006815,0.123977,0.007598,0.009423,...,NaN,NaN,NaN,0.003269,0.007329,0.000427,NaN,0.003429,0.006986,0.002603
3,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-06-13,0.960384,0.002455,0.013683,1.002700,0.001373,0.117169,0.000685,0.005531,...,NaN,NaN,NaN,0.006117,0.004516,0.003200,NaN,0.008419,0.006527,0.009600
4,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-07-16,0.947248,0.002483,0.015193,1.000727,0.007605,0.117325,0.004653,0.009312,...,NaN,NaN,NaN,0.003671,0.004946,0.008889,NaN,0.001670,0.008126,0.009827

In [6]:
numero_grupo=14
random_state=(31416 * numero_grupo) % 1000

In [7]:
total=df_train.shape[0]#5531451
muestra=np.round(total*5/100)
samples=sample_without_replacement(total,muestra, random_state=random_state)

In [8]:
df_samples=df_train.iloc[samples]

In [9]:
df_samples

,customer_ID,S_2,P_2,D_39,B_1,B_2,R_1,S_3,D_41,B_3,...,D_136,D_137,D_138,D_139,D_140,D_141,D_142,D_143,D_144,D_145
1352172,3e52dec043ba1830f11dec8504f8dad5f4c88e31db5df4...,2018-01-08,0.858942,0.000937,0.003104,0.816093,0.005505,NaN,0.009372,0.005367,...,NaN,NaN,NaN,1.004304,0.008963,0.862856,0.058511,1.003286,0.003099,0.279170
4921984,e3987751af785c63681334119e0ae8ef61b9195c535fa1...,2018-03-23,0.636110,0.118810,0.013186,0.811999,0.005139,0.182632,0.009313,0.001701,...,NaN,NaN,NaN,0.001163,0.000047,0.001250,NaN,0.005394,0.005578,0.009653
4378772,ca5cc31bdd33599e7f3e4f0af37bf53c90f441ff9d426e...,2017-09-07,0.649134,0.592575,0.052248,0.059354,0.004992,0.179298,0.007444,0.142352,...,NaN,NaN,NaN,0.007144,0.005600,0.009201,NaN,0.009573,0.007255,0.006836
2436569,708495d85d01123238b8feea562f321df6306e9d131994...,2017-03-05,0.587330,0.004235,0.621175,0.037618,0.008271,0.160576,0.007185,0.461215,...,NaN,NaN,NaN,0.001627,0.002387,0.007506,NaN,0.004292,0.000031,0.009824
3084780,8e6325448ec00c432151b1f678db276baa1cf31885faa6...,2017-03-28,0.677123,0.564526,0.119460,1.004468,0.009573,0.118454,0.007558,0.006660,...,NaN,NaN,NaN,0.003359,0.000864,0.003049,NaN,0.000476,0.005799,0.008635
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3941603,b6259aafe1cbc4057902bfebf7be7fe82110ad1d65c96e...,2018-03-07,0.588909,0.001066,0.043523,1.004289,0.007397,0.314670,0.008588,0.002235,...,NaN,NaN,NaN,0.008907,0.003037,0.009398,NaN,0.006577,0.001516,0.006332
2990585,8a14e8811699dd4915d710ffbc3c0e81da1b6f36994a63...,2017-06-27,1.007882,0.007331,0.016122,1.003101,0.009691,0.134467,0.008111,0.005704,...,NaN,NaN,NaN,0.005209,0.008816,0.001328,NaN,0.006936,0.009363,0.001241
4682916,d88b441c8d31ae094880074ad914714fe3dd9836acccbe...,2018-03-23,0.719087,0.007391,0.005794,0.817552,0.006848,0.129134,0.009438,0.010734,...,NaN,NaN,NaN,0.002578,0.002462,0.002067,NaN,0.001170,0.001336,0.007757
3529666,a31070910c61e92852b56ba61538750021491de5782396...,2017-09-18,0.691608,0.004745,0.385502,0.034945,0.002566,0.418757,0.001406,0.305104,...,NaN,NaN,NaN,0.001581,0.009791,0.001876,NaN,0.000892,0.000459,0.004343
1623289,4ac96f22ef5f64a403cb7c305b1b99f96023feaee303bf...,2017-11-10,0.908038,0.007089,0.009355,0.810059,0.009408,0.158534,0.008493,0.008355,...,NaN,NaN,NaN,0.001663,0.009961,0.004375,NaN,0.009144,0.001892,0.004490

In [10]:
df=pd.merge(df_samples,df_labels,on='customer_ID',how='left')

In [11]:
df.target.value_counts()

0    207834
1     68739
Name: target, dtype: int64

In [12]:
#df.reset_index()
df.to_csv("/Users/tomasshiao/Desktop/FIUBA/OrgaDatos/TPs/TP3/amex-default-prediction/train_sampled_grupo14.csv",index=False,header=True)